In [15]:
# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
# the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
# [1980, 1981, 1982, 1983, 1984, 1985].
years = []
birth_year = int(input("enter you birth year:"))
for i in range(5):
    if i == 0:
        years.append(birth_year)
    else:
        birth_year = birth_year + 1
        years.append(birth_year)
list1

enter you birth year:1998

[1998, 1999, 2000, 2001, 2002]

In [17]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
# first year.
for i in range(len(list1)):
    if i == 3:
        print(list1[i])

2001

In [20]:
# 3.In the years list, which year were you the oldest?
list1[-1]

2002

In [29]:
# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
things =["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

In [31]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the
# element in the list?
for i in range(len(things)):
    if i == 1:
        things[i]= things[i].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

In [32]:
# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
suprise_list = ['Groucho','Chico','Harpo']
suprise_list

['Groucho', 'Chico', 'Harpo']

In [33]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
((suprise_list[-1].lower())[::-1].upper())

'OPRAH'

In [35]:
# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
# chien, cat is chat, and walrus is morse.
e2f = {"dog":"chien","cat":"chat","walrus":"morse"}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [36]:
# 9. Write the French word for walrus in your three-word dictionary e2f.
e2f.get("walrus")

'morse'

In [37]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
f2e = dict([ele[::-1] for ele in e2f.items()])
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [38]:
# 11. Print the English version of the French word chien using f2e.
f2e.get("chien")

'dog'

In [39]:
# 12. Make and print a set of English words from the keys in e2f.
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [41]:
# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
life = {
    'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},
    'plants':{},
    'other':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [42]:
# 14. Print the top-level keys of life.
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [43]:
# 15. Print the keys for life['animals'].
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [44]:
# 16. Print the values for life['animals']['cats']
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']