In [1]:
# 1. Set the variable test1 to the 
# string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [4]:
with open('test.txt','r') as file:
    print(file.read())

This is a test of the emergency text system,

In [5]:
# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   

# There is no difference betweent test 1 nad test2

This is a test of the emergency text system,

In [8]:
# 3. Create a CSV file called books.csv by using these lines:
# title,author,year
# The Weirdstone of Brisingamen,Alan Garner,1960
# Perdido Street Station,China Miéville,2000
# Thud!,Terry Pratchett,2005
# The Spellman Files,Lisa Lutz,2007
# Small Gods,Terry Pratchett,1992

sample = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(sample)

In [9]:
# 4. Use the sqlite3 module to create a SQLite database called books.db, 
# and a table called books with these fields: title (text), author (text), and year (integer).
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

In [11]:
# 5. Read books.csv and insert its data into the books table.
import sqlite3
import csv
connector = sqlite3.connect("books.db")
cursor = connector.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
connector.commit()
connector.close()

In [16]:
# 6. Select and print the title column from the books table in alphabetical order.
import sqlite3
connector = sqlite3.connect('books.db')
cursor = connector.cursor()
data = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in data:
    print(ele[0])
connector.commit()
connector.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [15]:
# 7. From the books table, select and print all columns in the order of publication.
import sqlite3
connector  = sqlite3.connect('books.db')
cursor = connector .cursor()
data = cursor.execute("SELECT * FROM books ORDER BY year")
for i in data:
    print(i)
    
connector.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [17]:
# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
import sqlalchemy
connector = sqlalchemy.create_engine('sqlite:///books.db')
connector

Engine(sqlite:///books.db)

In [22]:
# 9. Install the Redis server and the Python redis library (pip install redis) on your computer.
# Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). 
# Print all the fields for test.
! python -m pip install redis

Requirement already satisfied: redis in d:\anaconda\lib\site-packages (4.5.1)
Requirement already satisfied: async-timeout>=4.0.2 in d:\anaconda\lib\site-packages (from redis) (4.0.2)

In [ ]:
import redis
redis_host = 'localhost'
redis_port = 6379
connector = redis.Redis(host=redis_host, port=redis_port)
connector.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
connector.hgetall('test')

In [ ]:
# 0. Increment the count field of test and print it.
connector.hincrby('test', 'count', 1)
connector.hget('test', 'count')